@import '@/qunar/reset.scss';

.addressbox {
  @include rect(100%, 100%);
  
  .addresshead {
    @include flexbox();
    @include rect(100%, 0.5rem);
    @include background-color(#fff);

    span {
      @include rect(0.5rem, 100%);
      // font: 0.2rem/0.5rem "";
      font-size: 0.2rem;
      line-height: 0.5rem;
      @include text-align();
      @include text-color(#666);
    }
    a {
      @include rect(0.5rem, 100%);
      // font: 0.2rem/0.5rem "";
      font-size: 0.2rem;
      line-height: 0.5rem;
      @include text-align();
      @include text-color(#666);
    }
    p {
      @include flex();
      @include rect(auto, 100%);
      // font: 0.2rem/0.5rem "";
      font-size: 0.2rem;
      line-height: 0.5rem;
      @include text-align();
    }
    .save {
      @include rect(1rem, 100%);
      // font: 0.2rem/0.5rem "";
      font-size: 0.2rem;
      line-height: 0.5rem;
      @include text-align();
      @include text-color(#666);
    }
  }
  .addresscontent {
    @include rect(100%, auto);
    @include overflow();

    ul {
      @include rect(100%, 100%);

      li {
        margin: 15px 0 15px 0;
        padding: 0 15px 0 15px;
        @include background-color(#fff);
        @include flexbox();
        @include rect(100%, auto);

        .infobox {
          @include rect(2rem , 100%);
          
          .nameinfo {
            @include flexbox();
            // font: 0.16rem/0.4rem "";
            font-size: 0.16rem;
            line-height: 0.4rem;
            .phone {
              margin-left: 15px;
            }
          }
          .location {
            @include rect(100%, 0.4rem);
            // font: 0.16rem/0.4rem "";
            font-size: 0.16rem;
            line-height: 0.4rem;
          }
          .detail {
            @include rect(100%, 0.4rem);
            // font: 0.16rem/0.4rem "";
            font-size: 0.16rem;
            line-height: 0.4rem;
          }
        }

        input[type='checkbox']{
          width: 22px;
          height: 22px;
          background-color: #fff;
          -webkit-appearance:none;
          border: 1px solid #c9c9c9;
          border-radius: 50%;
          outline: none;
          margin: 40px 0 0 150px;
        }
        .checkBox input[type=checkbox]:checked{
          background: url("../imgs/bingo.png") no-repeat center;
          background-size:16px 16px;
        }
      }
    }
  }

}